<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result  </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .container {
            max-width: 960px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Search Result </h1>
        <hr>

        {% if droneler %}
            <div class="row">
                <div class="col">
                    <h2>Drone Result</h2>
                    <ul class="list-group">
                        {% for drone in droneler %}
                            <li class="list-group-item">
                                <strong>Name:</strong> {{ drone.name }}<br>
                                <strong>Brand:</strong> {{ drone.brand }}<br>
                                <strong>Category:</strong> {{ drone.category }}<br>
                                <strong>Model:</strong> {{ drone.model }}<br>
                                <strong>Weight:</strong> {{ drone.weight }}<br>
                                <strong>Price:</strong> {{ drone.price }}
                                <a href="{% url 'rentdrone' drone.id %}" class="btn btn-primary float-right">To Rent</a> 
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No results found.
            </div>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
